# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*
.env 
# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# toSelf.txt is a file for personal notes and should not be tracked
source_books/toSelf.txt 

#standard readme for react projects
README.md 
# This file is used to load the local database through a less robust method and should not be tracked
loadDb-Local-Old.ts
docker-compose.yml 
# This file is an old version of the main page and should not be tracked
page-old.tsx 

# This file contains prompts for the AI and should not be tracked as it may contain sensitive information
scripts/prompt.ts
colors.txt
.cursorrules
.cursorignore
models/Qwen2-7B-q5-1.gguf
models/Qwen2-7B.gguf
